.navigation {
    width: 100% !important;
    margin: auto !important;
    background-color: transparent !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    z-index: 2;
    padding: 0.5rem 1rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: none !important;
}

.shop-card-container {
    padding: 0.5rem;
}

.shop-card {
    background-color: #fff;
    padding: 0rem;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0 0 7px rgba(0,0,0, 0.1);
    transition: all 0.4s;
}

.shop-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
}

.shop-card img {
    width: 100%;
    height: 190px;
}

.shop-card-content {
    padding: 1rem;
}

.shop-card-content h6 {
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    font-size: 13px;
}

.shop-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
}

.shop-card-content span {
    text-align: left;
    color: #888;
    padding-top: 1rem !important;
}

.shop-card-content h3 {
    text-align: center;
    padding-bottom: 1.5rem;
}





.single-card {
    background-color: #fff;
    padding: 1rem 0;
    border-radius: 3px;
}

.file-image {
    width: 450px;
    height: 350px;
    border: 1px solid rgba(0,0,0, 0.25);
    margin: auto;
    margin-bottom: 1.5rem;
}

.file-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-card p {
    margin: 15px 0;
}

.singleCard-footer {
    border-top: 1px solid rgba(0,0,0, 0.25);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}